.output-box{
    width:60%;
    color:white;
    font-size:1rem;
    overflow: auto;
    border-bottom: 1px solid white;
    
    
}
.child{
    padding: 10px;
}
.search{
    border: 0px;
    
    border-radius: 5px;
    height: 40px;
    width: 50%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #bfbfbf5a;
}
.button-container{
    justify-content: center;
    font-size:.9rem;
}
.button{
    width:fit-content;
    color: green;
    background:white;
    border: 1px solid white;
    height: 40px;
    padding: 2px 23px 2px 30px;
    border-radius: 10px;
    margin-left:1%;
   
}
.search-container{
    display: flex;
    margin:auto;
    justify-content: center;
}