
.example1{
    background-image: url('../assets/sync.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:100px;
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    width:25%;
}
.example2{
    background-image: url('../assets/async.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:150px;
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    width:35%;
}
.example3{
    background-image: url('../assets/notasyncawait.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:400px;
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    width:60%;
}
.example4{
    background-image: url('../assets/asyncawait.png');
    background-size:contain;
    background-repeat: no-repeat;
    height:200px;
    margin:auto;
    margin-top:1%;
    margin-bottom:1%;
    width:60%;
}
.content1{
    margin: 2%;
    font-size:1.1rem;
    font-weight:400;
}