.header-text{
    color:white;
    border-bottom:1px solid white;
    text-align: center;
    width:100%;
    margin-bottom: 3%;
}
.App{
    animation: transitionIn .7s;
}

.learn-container{
    background:rgba(255, 255, 255, 0.716);
    width:70%;
    height:80vh;
    margin:auto;
    padding:1%;
    margin-top:25px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}
.select{
    display:flex;
    background:rgba(255, 255, 255, 0.716);
    width:fit-content;
    justify-content: space-between;
    padding:1%;
    border-radius: 10px;
    margin:auto;
    margin-top:1%;
   
    
}
.option1{
    border-radius:7px;
    padding:5px;
    width:100px;
    margin:auto;
    text-align: center;
    margin-right:5px;
    transition: .3s;
}
.option2{
    border-radius:7px;
    padding:5px;
    transition: 10s;
    width:100px;
    margin:auto;
    text-align: center;
    margin-right:5px;
    transition: .3s;
    
}
.option3{
    border-radius:7px;
    padding:5px;
    width:100px;
    margin:auto;
    text-align: center;
    transition: .3s;
}
.option1:hover{
    background-color:rgba(249, 249, 249, 0.741);
}
.option2:hover{
    background:rgba(249, 249, 249, 0.741);
    
}
.option3:hover{
    background:rgba(249, 249, 249, 0.741);
   
}
.active{
    background:rgba(249, 249, 249, 0.741);
}
/* Page click render animation */
@keyframes transitionIn {
    from{
      opacity: 0;
      transform:rotateX(-10deg)
    }
    to{
      opacity:1;
      transform:rotateX(0)

    }
  }