body {
  background: linear-gradient(45deg,#EE7752,#E73C7e,#23A6D5,#23D5AB);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position:relative;
  animation: change 60s ease-in-out infinite;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
  
}