body {
  background: linear-gradient(45deg,#EE7752,#E73C7e,#23A6D5,#23D5AB);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  position:relative;
  animation: change 60s ease-in-out infinite;
  font-family: 'Open Sans', sans-serif;

}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background:rgb(224, 224, 224);
    padding:2px;
    border-radius: 3px;
    font-size: .9rem;
}
@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
  
}